.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: #000099;
  word-spacing: 10px;
  cursor: pointer;
}
.link {
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  color: #000099;
}
.article,
.link,
.logo {
  font-family: 'Thasadith', sans-serif;
}
.article {
  font-size: 16px;
}
